/**
 * Site header
 */
.site-header {
  border-top: 0px solid $border-color-03;
  border-bottom: 1px solid $border-color-01;
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.725);
  font-weight: 300;
  letter-spacing: px;
  margin-bottom: 0;
  float: left;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited {
    color: $site-title-color;
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 0.5px solid $border-color-01;
  // padding: $spacing-unit 0;
  padding: 90px 70px 20px 70px !important;
  background-color: #eee;
  background: linear-gradient(
  180deg,
  rgba(255, 255, 255, 1) 0%,
  rgba(240, 240, 250, 1) 50%
);
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.85);
  color: $brand-color;
  margin-bottom: $spacing-unit / 2;
}

.social-links {
  margin-bottom: $spacing-unit / 2;
  margin-left: 0;
}

.footer-col {
  margin-bottom: $spacing-unit / 2;
  margin-left: 0;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col-wrapper {
    display: flex
  }

  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit / 2);

    &:first-child {
      padding-right: $spacing-unit / 2;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: $spacing-unit / 2;
    }
  }
}



/**
 * Page content
 */
.page-content {
  color: $text-color-light;
  @include relative-font-size(1.1);
  text-rendering: optimizeLegibility;
  padding: $spacing-unit 0;
  flex: 1 0 auto;
  display: inline-block;
}

.page-intro {
  color: $text-color;
  @include relative-font-size(1.8);
  padding: $spacing-unit 0;
  font-weight: 350;
}

// .post-list-heading {
//   @include relative-font-size(1.75);
// }
//
// .post-list {
//   margin-left: 0;
//   list-style: none;
//
//   > li {
//     margin-bottom: $spacing-unit;
//   }
// }
//
// .post-meta {
//   font-size: $small-font-size;
//   color: $brand-color;
// }
//
// .post-link {
//   display: block;
//   @include relative-font-size(1.5);
// }
//


.container {
  max-width: 1100px;
  height: auto;
  margin: 60px auto;
}


.sections {
  vertical-align: top;
  display: inline-block;
  min-height: 50px;
}

.sectionleft {
  width: 49%;
}

.sectionright {
  width: 49%;
}


.section-title {
  font-size: 28px;
  font-weight: 550;
  margin-bottom: 15px;
}

.list-card.example {
  margin: 30px 0;
  -moz-box-shadow: 0px 0px 29px -4px rgba(0, 0, 0, 0.46);
  margin: 30px 70px 30px 0;
  padding: 25px 25px 10px 25px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: -20px 20px 50px #c9c9e7, 10px -10px 500px #eeeeee;
}

.list-card .exp,
.list-card div {
  display: inline-block;
  vertical-align: top;
}

.list-card .exp {
  margin-right: 15px;
  color: #4a90e2;
  font-weight: 600;
  width: 100px;
}

.list-card div {
  width: 100%;
}



.slack {
  padding-bottom: 15px;
}


.slack img {
  width: 42px;
  height: 42px;
  border-radius: 5px;
  float: left;
  margin-right: 10px;
}

.slack .slackname {
//   margin: 0;
// padding: 0;
// border: 0;
// font-size: 100%;
// font: inherit;
// vertical-align: baseline;

  font-weight: 600;
  font-size: 16px;
  color: #1d1c1d;
}

.slack .slacktime {
  font-size: 13px;
  color: #616061;
  margin-left: 5px;
}

.slack .slackmessage {
  font-size: 15px;
  color: #1d1c1d;
  overflow: hidden;
}

.card {
  width: 50%;
  height: 200px;
  background-color: #eef0f7;
  display: inline-block;
  margin: 7px 5px;
  vertical-align: top;
  border-radius: 10px;
  text-align: center;
  padding-top: 50px;
}

.card-active,
.card:hover {
  transform: scale(1.02);
  transition: 0.5s;
  background-color: #fff;
  box-shadow: 0px 5px 50px -8px #ddd;
  cursor: pointer;
}




@media (max-width: 768px) {
  .container {
    padding: 15px;
    margin: 0px auto;
  }
  .card {
    padding: 15px;
    text-align: left;
  }
  .card h2 {
    font-size: 70px;
  }
  .card,
  .sections {
    width: 100%;
    height: auto;
    margin: 100px 0;
    float: left;
  }
}



.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type { margin-right: 5px }
    a {
      display: block;
      border-radius: $spacing-unit / 15;
      padding: $spacing-unit / 15;
      border: 1px solid $border-color-01;
      &:hover { border-color: $border-color-02 }
    }
  }
}



/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}
