---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="page-intro">

    <p class="page-intro">
      Hello there! &#128515; Have you been in this situation?
    </p>

  </div>

  <div class="page-content">

    <p>
      There have been <a href="https://scholar.google.com/scholar?hl=en&as_sdt=0%2C5&q=phone+notifications+AND+%28stress+OR+anxiety%29&btnG=">
      several scientific studies</a> showing the effects of electronic notifications
      on the human mind and body possibly leading to stress and anxiety.
    </p>

    <p>
      Here's how I summarize those studies in one graph biased by personal anecdotal data:
    </p>


    <p>
      <a href="https://www.google.com/search?q=no+hello">NoHello</a> tells you
      not to start a conversation with just a
      "<span style="font-style: oblique">Hello!</span>"
      Well, let's go one step further and make sure not to over-notify folks with
      multiple pings when we could type entire thought and notify just once! Aren't
      we stressed enough with all that's going on inside and outside of work today?
    </p>

  </div>

</div>

<div>

  <div class="container">

    <div class="sections sectionleft">
            <h2 class="section-title"> &#9746; &nbsp Please don't do this</h2>

              <div class="list-card example one">

                <div class="slack">
                  <img src="images/Michael.png" alt="Michael's Slack avatar">
                  <span class="slackname">Michael</span>
                  <span class="slacktime">5:12:07 PM</span><br>
                  <span class="slackmessage">Hello Dwight.</span>
                </div>

                <div class="slack">
                  <img src="images/Michael.png" alt="Michael's Slack avatar">
                  <span class="slackname">Michael</span>
                  <span class="slacktime">5:12:10 PM</span><br>
                  <span class="slackmessage">How many reams...</span>
                </div>

                <div class="slack">
                  <img src="images/Michael.png" alt="Michael's Slack avatar">
                  <span class="slackname">Michael</span>
                  <span class="slacktime">5:12:15 PM</span><br>
                  <span class="slackmessage">of paper did you sell?</span>
                </div>

                <div class="slack">
                  <img src="images/Michael.png" alt="Michael's Slack avatar">
                  <span class="slackname">Michael</span>
                  <span class="slacktime">5:12:19 PM</span><br>
                  <span class="slackmessage">today</span>
                </div>

                <div class="slack">
                  <img src="images/Michael.png" alt="Michael's Slack avatar">
                  <span class="slackname">Michael</span>
                  <span class="slacktime">5:12:20 PM</span><br>
                  <span class="slackmessage">??</span>
                </div>

                <div class="slack">
                  <img src="images/Michael.png" alt="Michael's Slack avatar">
                  <span class="slackname">Michael</span>
                  <span class="slacktime">5:12:25 PM</span><br>
                  <span class="slackmessage">Send me contact details of teh top buyer &#128242;</span>
                </div>

              </div>
    </div>

    <div class="sections sectionright">
            <h2 class="section-title">&#9745; &nbsp Do this instead</h2>

              <div class="list-card example one">

                <div class="slack">
                  <img src="images/Michael.png" alt="Michael's Slack avatar">
                  <span class="slackname">Michael</span>
                  <span class="slacktime">5:12:20 PM</span><br>
                  <p class="slackmessage">
                    <span class="slackmessage">Hello Dwight. How many reams of paper did you sell today??</span><br>
                    <span class="slackmessage">Send me contact details of teh top buyer &#128242;</span>
                  </p>
                </div>

              </div>
    </div>

  </div>

</div>


<div>

  <div class="page-content">
    Let's bring sanity to life and make everyone stress-free and happy! &#128519;
  </div>

  {% include adsense.html %}

</div>
