---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="page-content">

    <p class="page-intro">
      Hello there! &#128515; Have you been in this situation?
    </p>


    <p>
      There have been <a href="https://scholar.google.com/scholar?hl=en&as_sdt=0%2C5&q=phone+notifications+AND+%28stress+OR+anxiety%29&btnG=">
      several scientific studies</a> showing the effects of electronic notifications
      on the human mind and body possibly leading to stress and anxiety.
    </p>

    <p>
      Here's how I summarize those studies biased by personal anecdotal data in one graph:
    </p>

    <p>
      <a href="https://www.google.com/search?q=no+hello">NoHello</a> tells you
      not to start a conversation with just a
      "<span style="font-style: oblique">Hello!</span>"
      Well, let's go one step further and make sure not to over-notify folks with
      multiple pings when we could type everything and notify just once! Aren't
      we stressed enough with all that's going on inside and outside of work today?
    </p>


    <p>
      Let's bring sanity to life and make everyone stress-free and happy! &#128519;
    </p>


  </div>


  {% include adsense.html %}

</div>
